<?xml version="1.0"?>
<robot name="set_transmission" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="set_transmission" params="transmission_name motor_name interface joint_name">

		<transmission name="${transmission_name}">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${joint_name}">
				<hardwareInterface>hardware_interface/${interface}</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</joint>
			<actuator name="${motor_name}">
				<hardwareInterface>hardware_interface/${interface}</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>						

	</xacro:macro>
</robot>